<!DOCTYPE html>
<html>
    <head><title>The future is here</title>
        <link rel="stylesheet" href="style1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <header>
        <a href="n1.html">
            <img src="m1.jpeg" height="70px"></a>
            <a href="n2.html"><img src="prof2.jpeg" height="70px" align="right"></a>
    </header>
    <hr color="white">
    <body bgcolor="black">
        <div>
            <div class="head">CALCULATE POWER SUPPLY</div>
            <div class="bigbox"></div>
            <p class="area">INPUT BY AREA</p>
            <p class="preva"><input style="height:30px;font-size:12pt;width:900px;" type="text" placeholder="PREVIOUS AREA"></p>
            <p class="newa"><input type="text" style="height:30px;font-size:12pt;width:900px;" placeholder="NEW AREA"></p>
            <button class="ab">CALCULATE GRAPH</button>
            </font>
        </div>
        <br>
        <Br>
        <Br>
        <BR>
        <BR>
            <div>
                <font color="white" size="30px">
                <p class="number">INPUT BY UNIT NUMBERS</p>
                <p class="prevnum"><input style="height:30px;font-size:12pt;width:900px;background-color: #f6f6f6;" type="text" placeholder="PREVIOUS NUMBER"></p>
                <p class="newnum"><input type="text" style="height:30px;font-size:12pt;width:900px;" placeholder="NEW NUMBER"></p>
                <button class="abn" style="background-color: black;color: #f6f6f6;border-color: black;">CALCULATE GRAPH</button>
                </font>
            </div>    
        

    </body>
    <br>
        <Br>
        <Br>
        <BR>
        <BR>
        <BR>
            <BR>
                <BR>
                    <br>
                    <BR>
                        <br>
                    

    <footer class="footer">
        <div>
        <a href="f1.html"><img src="list.jpeg" height="100px"></a>
        <a href="page3.html" class="home"><img src="home.jpeg" height="100px" ></a>
        <a href="page 6.html"><img src="settings.jpeg" height="100px" align="right"></a>
        </div>
        
    </footer>
</html>